@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


:root {
    --color1: #393E46;
    --color2: #6D9886;
    --color3: #F2E7D5;
    --color4: #F7F7F7;;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--color3);
}


/*Header styles */
header {
    color: var(--color4)
}

.img-modal {
    width: 100%;
}


.perfil-img {
    min-height: 30px;
    width: auto;
    max-height: 250px;
}
.name {
    margin: 1rem 0 0 0;

}

.info-ul {
    margin: 1rem 0 0 0;
    padding: 0 0 1rem 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.info-ul > li {
    margin: 1rem 0 0 0;
    word-break: break-all;
    width: calc(33.3% + 4px);
}

.info-ul img {
    width: 2.4rem;
}

a {
    text-decoration: none !important;
    color: var(--color4) !important;
    display: block;
}

.navbar {
    color: var(--color4) !important;
}

.description {
    margin: 0 auto 1rem auto;
    width: 60%;
}

.nav-item {
    padding: 0 2rem 0 2rem;
}
.active {
    font-weight: 600!important;
}

.skills p {
    word-break: normal;
}
/*Cards container*/
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 1rem;
    width: calc(40%);
}




.titles {
    width: 100%;
}

.bg-gradient-lead {
    background-image: linear-gradient(to top, rgb(88, 28, 135), rgb(99, 102, 241))!important;
    color: var(--color4) !important;
}


.space {
    opacity: 1;
}

.skills {
    height: 1.5rem;
}

/*Footer*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--color4);
    margin-top: 3rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8rem;
}

#contact-success {
    display: none;
}


footer ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

footer p {
    margin: 0.5rem
}

footer li {
    margin: 0.5rem;
}


/*End Header styles */
@media (max-width: 991px) {

    header p{
        width: 80% !important;
    }
    

    .info-ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .info-ul li {
        width: auto;
    }
    .card {
        margin: 1rem 0;
        width: 100%;
    }

    .skills p {
        width: 100%;
        word-break: normal;
        text-align: justify;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
    footer li {
        width: 100%;
        margin: 0.5rem 0 0 0;
    }

    footer p {
        margin: 1.5rem 0;
    }


    form {
        min-width: 100%;
    }

    #contact-success {
        min-width: 100%;
    }
}



